@import "tailwindcss";

@font-face {
    font-family: 유설체;
    src: url("/fonts/유설체.ttf");
}

@font-face {
    font-family: NotoSans;
    src: url("/fonts/NotoSansKR-Var.ttf");
}

@theme {
    --main-color: #0d1b2a;
    --sub-color: #1e263b;
    --sub2-color: #415a77;
    --sub3-color: #778da9;
    --background-color: #e0e1dd;
    --font-sans: NotoSans;
    --point-font: 유설체;
    --header-height: 80px;
    --pc-gap: 24px;
    --mo-gap: 16px;
    --pc-font-size: 24px;
    --pc-hero-text-size: 48px;
}


@utility text-gradient {
    background: linear-gradient(180deg, var(--main-color) 0%, var(--sub2-color) 50%, var(--sub3-color) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 0 0 #0d1b2a;
}


@layer components {
    ::-webkit-scrollbar {
        display: none;
    }

    ::selection {
        @apply bg-[var(--sub2-color)]/60 text-[var(--background-color)];
    }

    body {
        @apply bg-[var(--background-color)] text-[var(--main-color)] font-[var(--font-sans)];
    }

    header {
        @apply h-[var(--header-height)] border-[var(--sub-color)] flex border-b;
    }

    nav {
        @apply flex justify-start items-center gap-2 mx-[var(--pc-gap)];
    }

    nav>a {
        @apply px-4 py-1 active:bg-[var(--background-color)]/15 h-fit p-2;
    }

    main {
        @apply m-[24px] p-[24px] text-center flex justify-center flex-col items-center border;
        height: calc(100dvh - var(--header-height));
    }

    .skill_section {
        @apply flex;
    }

    .skill_section>svg {
        @apply w-4 h-4;
    }

    :where(main) h1 {
        @apply font-extrabold text-[200px];
    }

    :where(main) article {
        @apply text-sm w-fit mt-12 flex flex-col border p-4 rounded-lg font-medium relative;
    }

    .contact_wrapper {
        @apply flex-1 flex justify-end gap-4 mx-[var(--pc-gap)];
    }

    .subtext {
        @apply text-6xl font-mono mb-[40px];
    }

    :where(.contact_wrapper) svg {
        @apply w-6 cursor-pointer;
    }


    .project_menu {
        @apply pb-4 pl-4 cursor-pointer whitespace-nowrap;
    }

    .project_menu.active {
        @apply text-[var(--main-color)] font-bold;
    }

    .project_menu_wrap {
        @apply flex m-6 gap-2 border-b border-b-gray-300 overflow-x-scroll;
    }

    .project_wrapper {
        @apply p-[24px] grid grid-cols-2 gap-6 m-6 border;
    }

    img {
        @apply w-full z-[999] cursor-pointer;
    }

    .altconsole_video {
        @apply w-full h-full;
    }

    @media (max-width: 699px) {
        main {
            @apply justify-start items-end h-fit m-[16px] p-[16px];
        }

        .subtext {
            @apply text-xl text-end;
        }

        .paragraph {
            @apply text-xs;
        }

        article {
            @apply w-full p-[8px] mt-0;
        }
    }

    /* 태블릿: 700px~1199px */
    @media (min-width: 700px) and (max-width: 1199px) {
        main {
            @apply items-end justify-end;
        }

        .subtext {
            @apply text-2xl text-end;
        }

        .specific_text {
            @apply text-sm
        }

        .hero {
            @apply text-sm;
        }
    }
}