@import "tailwindcss";

@font-face {
    font-family: NotoSans;
    src: url("/fonts/NotoSansKR-Var.ttf");
}

@theme {
    --main-color: #f95738;
    --sub-color: #ee964b;
    --sub2-color: #f4d35e;
    --sub3-color: #0d3b66;
    --background-color: #faf0ca;
    --font-sans: NotoSans;
    --header-height: 80px;
    --pc-gap: 24px;
    --mo-tb-gap: 16px;
    --pc-font-size: 24px;
    --pc-hero-text-size: 48px;
}


@utility text-gradient {
    background: linear-gradient(180deg, var(--main-color) 0%, var(--sub2-color) 50%, var(--sub3-color) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0 0 0 #0d1b2a;
}


@layer components {
    ::-webkit-scrollbar {
        display: none;
    }

    ::selection {
        @apply bg-[var(--sub2-color)]/60 text-[var(--sub3-color)];
    }

    body {
        @apply bg-[var(--background-color)] text-[var(--main-color)] font-[var(--font-sans)] h-dvh w-dvw;
    }

    header {
        @apply h-[var(--header-height)] border-[var(--sub-color)] flex border-b;
    }

    nav {
        @apply flex justify-start items-center gap-2 mx-[var(--pc-gap)];
    }

    nav>a {
        @apply px-4 py-1 active:bg-[var(--background-color)]/15 h-fit p-2;
    }

    .home_main{
        @apply grid grid-cols-2 overflow-hidden;
    }

    .home_main_section{
        @apply bg-[var(--sub2-color)]/70 items-start justify-center flex flex-col gap-[24px] px-[24px];
        height: calc( 100dvh - var(--header-height));
    }
    
    .skill_section {
        @apply flex flex-col border-b py-4 px-[40px];
    }

    .skill_list {
        @apply flex w-full mt-[var(--pc-gap)] flex-wrap gap-4;
    }

    .skill_item {
        @apply flex items-center justify-center gap-2 p-2 rounded-lg border-gray-100 bg-[#00000010] font-thin cursor-pointer;
    }

    .skill_item.active {
        @apply bg-[var(--sub2-color)]/40 text-white;
    }

    .skill_item>svg {
        @apply w-4 h-4;
    }

    .skill_item>img {
        @apply w-4 h-4;
    }

    .contact_wrapper {
        @apply flex-1 flex justify-end gap-4 mx-[var(--pc-gap)];
    }

    :where(.contact_wrapper) svg {
        @apply w-6 cursor-pointer;
    }


    .project_menu {
        @apply pb-4 pl-4 cursor-pointer whitespace-nowrap;
    }

    .project_menu.active {
        @apply text-[var(--main-color)] font-bold;
    }

    .project_menu_wrap {
        @apply flex m-[var(--pc-gap)] gap-2 border-b border-b-gray-300 overflow-x-scroll;
    }

    .project_wrapper {
        @apply p-[var(--pc-gap)] gap-6 border;
    }

    .project_item {
        @apply flex justify-center items-start w-full
    }

    .project_video {
        @apply flex-1 max-w-[800px];
    }

    img {
        @apply w-full z-[999] cursor-pointer;
    }

    .menu_icon{
        @apply hidden;
    }

    :where(.home_main) h1 {
        @apply text-9xl px-[24px] my-auto text-[var(--main-color)];
    }

    .paragraph {
        @apply text-sm whitespace-nowrap;
    }

    /* mobile */
    @media (max-width: 699px) {

        
        article {
            @apply w-full p-[8px] mt-0;
        }

        .project_wrapper {
            @apply flex-col flex p-[var(--mo-tb-gap)];
        }

        .project_item {
            @apply flex-col;
        }

        .project_video {
            @apply flex-1 w-full;
        }

        nav>a {
            @apply hidden;
        }

        .menu_icon{
            @apply block rounded-full border p-2;
        }
        
        .contact_wrapper {
            @apply hidden;
        }

    }

    /* 태블릿: 700px~1199px */
    @media (min-width: 700px) and (max-width: 1199px) {
        /* main {
            @apply items-end justify-end;
        } */

        nav>a {
            @apply hidden;
        }

        .contact_wrapper {
            @apply hidden;
        }

        .specific_text {
            @apply text-sm
        }

        .hero {
            @apply text-sm;
        }

        .project_wrapper {
            @apply flex-col flex p-[var(--mo-tb-gap)];
        }

        .project_video {
            @apply flex-1 w-full;
        }

        .menu_icon{
            @apply block rounded-full border p-2;
        }
    }
}